name: Continuous Deployment
on:
  workflow_run:
    workflows: ["Continuous Integration"]
    types: [completed]
  workflow_dispatch:

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip'
      - name: Install huggingface_hub & CLI
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade --force-reinstall huggingface_hub
          echo "$pythonLocation/bin" >> $GITHUB_PATH
          which huggingface-cli || true
          huggingface-cli --version || (echo "CLI missing" && exit 1)
      - name: Deploy to Hugging Face
        env:
          HF: ${{ secrets.HF }}
        run: make deploy HF=$HF